@if (color()) {
  <button
    class="p-3 rounded-md bg-white hover:bg-accent hover:text-primary transition-colors flex flex-row gap-2 items-center w-full"
    [ngStyle]="{
      border: color() ? '2px solid ' + color() : 'none',
    }">
    @if (automationEvent()) {
      <div
        [style.background-color]="color()"
        class="p-2 flex items-center justify-center rounded-md">
        <ng-icon [name]="icon()" size="1.4rem" class="text-white" />
      </div>
    }
    <span class="tr-large">{{ automationEvent().name }}</span>
  </button>
}
