<tr-dialog>
  <button brnDialogTrigger trBtn variant="outline">Manage guilds</button>
  <tr-dialog-content
    class="min-w-[800px] min-h-[600px]"
    *brnDialogContent="let ctx">
    <tr-dialog-header>
      <h3 trDialogTitle>Manage your Discord guilds</h3>
      <p trDialogDescription>
        Easily add our bot to your server and get started in just a few clicks.
      </p>
    </tr-dialog-header>
    <div class="flex flex-col bg-secondary p-4 flex-grow rounded-md space-y-2">
      @for (guild of guilds; track guild.id) {
        <div class="flex flex-row bg-white p-4 rounded-md items-center">
          <img
            [ngSrc]="guild.iconUri"
            alt="Discord Logo"
            class="rounded-full mr-4"
            [width]="35"
            [height]="35" />
          <div class="flex flex-col mr-auto">
            <span class="tr-large">{{ guild.name }}</span>
            <span class="text-muted tr-medium"
              >{{ guild.approximateMemberCount }} Members</span
            >
          </div>
          <ng-icon
            [name]="guild.linked ? 'heroLink' : 'heroLinkSlash'"
            strokeWidth="0.13rem"
            [ngClass]="guild.linked ? 'text-primary' : 'text-muted'"
            size="1.5rem" />
        </div>
      }
    </div>
  </tr-dialog-content>
</tr-dialog>
