<form class="space-y-4" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <div>
    <tr-register-form-label
      for="firstName"
      name="First Name"
      [untouched]="registerForm.controls.firstName.untouched"
      [invalid]="registerForm.controls.firstName.invalid"
      [errors]="registerForm.controls.firstName.errors" />
    <input
      id="firstName"
      type="text"
      trInput
      placeholder="Jon"
      class="w-full"
      [formControl]="registerForm.controls.firstName" />
  </div>

  <div>
    <tr-register-form-label
      for="lastName"
      name="Last Name"
      [untouched]="registerForm.controls.lastName.untouched"
      [invalid]="registerForm.controls.lastName.invalid"
      [errors]="registerForm.controls.lastName.errors" />
    <input
      id="lastName"
      type="text"
      trInput
      placeholder="Doe"
      [error]="false"
      class="w-full"
      [formControl]="registerForm.controls.lastName" />
  </div>

  <div>
    <tr-register-form-label
      for="email"
      name="Email"
      [untouched]="registerForm.controls.email.untouched"
      [invalid]="registerForm.controls.email.invalid"
      [errors]="registerForm.controls.email.errors" />
    <input
      id="email"
      type="email"
      trInput
      placeholder="example@email.com"
      class="w-full"
      [formControl]="registerForm.controls.email" />
  </div>

  <div>
    <tr-register-form-label
      for="password"
      name="Password"
      [untouched]="registerForm.controls.password.untouched"
      [invalid]="registerForm.controls.password.invalid"
      [errors]="registerForm.controls.password.errors" />
    <tr-form-password
      label="Password"
      id="password"
      [formControl]="registerForm.controls.password" />
  </div>

  <div>
    <tr-register-form-label
      for="confirmPassword"
      name="Confirm Password"
      [untouched]="registerForm.controls.confirmPassword.untouched"
      [invalid]="registerForm.controls.confirmPassword.invalid"
      [errors]="registerForm.controls.confirmPassword.errors" />
    <tr-form-password
      label="Confirm Password"
      id="confirmPassword"
      [formControl]="registerForm.controls.confirmPassword" />
  </div>

  <button type="submit" trBtn class="w-full" [disabled]="registerLoading()">
    @if (registerLoading()) {
      <tr-spinner size="sm" />
    } @else {
      Register
    }
  </button>
</form>
