<form class="space-y-4" (ngSubmit)="onSubmit()" [formGroup]="registerForm">
  <div>
    <label for="firstName" trLabel
      >First Name
      <input
        id="firstName"
        type="text"
        trInput
        class="w-full"
        placeholder="John"
        [formControl]="registerForm.controls.firstName" />
      @if (isControlInvalid(registerForm.controls.firstName)) {
        <div class="h-1">
          <small class="text-destructive">First name is required</small>
        </div>
      }
    </label>
  </div>

  <div>
    <label for="lastName" trLabel
      >Last Name
      <input
        id="lastName"
        type="text"
        trInput
        class="w-full"
        placeholder="Doe"
        [formControl]="registerForm.controls.lastName" />
      @if (isControlInvalid(registerForm.controls.lastName)) {
        <div class="h-1">
          <small class="text-destructive">Last name is required</small>
        </div>
      }
    </label>
  </div>

  <div>
    <label for="email" trLabel
      ><span>Email</span>
      @if (isControlInvalid(registerForm.controls.email)) {
        <span class="tr-small text-destructive italic">- {{ getEmailErrorMessage() }}</span>
      }
      <input
        id="email"
        type="email"
        trInput
        class="w-full"
        placeholder="example@email.com"
        [formControl]="registerForm.controls.email" />
    </label>
  </div>

  <div>
    <tr-form-password
      label="Password"
      id="password"
      [formControl]="registerForm.controls.password"
      [errorMessage]="getPasswordErrorMessage()" />
  </div>

  <div>
    <tr-form-password
      label="Confirm Password"
      id="confirmPassword"
      [formControl]="registerForm.controls.confirmPassword"
      errorMessage="Passwords need to match" />
  </div>

  <button type="submit" trBtn class="w-full" [disabled]="registerLoading()">
    @if (registerLoading()) {
      <tr-spinner size="sm" />
    } @else {
      Register
    }
  </button>
</form>
