<div class="flex flex-row items-center">
  <div class="relative">
    <img
      [ngSrc]="props().avatarUri"
      alt="Discord Avatar"
      [width]="47"
      [height]="47"
      class="rounded-full" />
    <img
      ngSrc="icons/discord_logo.svg"
      alt="Discord Logo"
      class="absolute -bottom-1 left-7 rounded-full"
      [width]="22"
      [height]="22" />
  </div>
  <div class="flex flex-col ml-4 mr-auto">
    <h1 class="tr-large">{{ props().displayName }}</h1>
    <span class="text-gray-500 text-sm"
      >{{ props().username }} - {{ props().email }}</span
    >
  </div>
  <tr-manage-guild-dialog />
</div>
