<div class="flex flex-col space-y-4 p-4 rounded-lg border bg-white">
  <div class="flex items-center gap-2 pb-3 border-b">
    <ng-icon name="heroInformationCircle" size="1.3rem" class="text-primary" />
    <span class="font-medium text-gray-900">Parameter Details</span>
  </div>

  <div class="flex flex-col space-y-3">
    <div class="flex flex-col">
      <span class="text-sm text-muted">Name</span>
      <span class="text-base font-medium text-gray-900">
        {{ parameter().identifier | pascalToPhrase }}
      </span>
    </div>

    <div class="flex flex-col">
      <span class="text-sm text-muted">Description</span>
      <span class="text-base font-medium text-gray-900">
        {{ parameterDescription() || 'No description available' }}
      </span>
    </div>
  </div>
</div>
<div class="mt-3">
  <tr-tabs
    [tab]="parameter().type"
    class="block max-w-3xl mx-auto"
    (tabActivated)="onTabChange($event)">
    <tr-tabs-list
      class="w-full grid"
      [ngClass]="displayPrevious() ? 'grid-cols-2' : 'grid-cols-1'"
      aria-label="tabs example">
      <button trTabsTrigger="Raw">Manual Input</button>
      @if (displayPrevious()) {
        <button trTabsTrigger="Var">From Previous</button>
      }
    </tr-tabs-list>
    <div class="flex items-center justify-center">
      <div trTabsContent="Raw">
        <ng-container #dynamicComponentsContainer></ng-container>
      </div>
      <div trTabsContent="Var" class="h-full w-full">
        <tr-automation-parameter-edit-previous-facts
          [parameterValueType]="parameterValueType()"
          [actionIdx]="actionIdx()"
          [parameter]="parameter()"
          (previousFactSelected)="onFactSelected($event)" />
      </div>
    </div>
  </tr-tabs>
</div>
