<div class="flex flex-col space-y-4 p-4 rounded-lg border bg-white">
  <div class="flex items-center gap-2 pb-3 border-b">
    <ng-icon name="heroInformationCircle" size="1.3rem" class="text-primary" />
    <span class="font-medium text-gray-900">Parameter Details</span>
  </div>

  <div class="flex flex-col space-y-3">
    <div class="flex flex-col">
      <span class="text-sm text-muted">Parameter</span>
      <span class="text-base font-medium text-gray-900">
        {{ parameter().identifier | pascalToPhrase }}
      </span>
    </div>

    <div class="flex flex-col">
      <span class="text-sm text-muted">Current Value</span>
      <span class="text-base font-medium text-gray-900">
        {{ parameter().value || 'Undefined' }}
      </span>
    </div>

    <div class="flex flex-col">
      <span class="text-sm text-muted">Parameter Type</span>
      <span class="text-base font-medium text-gray-900">
        {{ paramterType().toString() }}
      </span>
    </div>
  </div>
</div>
<div class="mt-3">
  <tr-tabs tab="account" class="block max-w-3xl mx-auto">
    <tr-tabs-list class="w-full grid grid-cols-2" aria-label="tabs example">
      <button trTabsTrigger="account">Account</button>
      <button trTabsTrigger="password">Password</button>
    </tr-tabs-list>
    <div class="p-4">
      <div trTabsContent="account">Make your account here</div>
      <div trTabsContent="password">Change your password here</div>
    </div>
  </tr-tabs>
</div>
