JwtSettings__Secret=ABCdefGHI123456789,OoO-09876azerty
IntegrationsSettings__Discord__ClientId=123456789
IntegrationsSettings__Discord__ClientSecret=ABCdefGHI123456789,OoO-09876azerty
IntegrationsSettings__Discord__RedirectUrl=http://localhost:4200/oauth2/discord/
ConnectionStrings__DefaultDatabase=Host=zeus-db;Port=5432;Database=zeus;Username=zeus;Password=zeus
POSTGRES_DB=triggo
POSTGRES_USER=zeus
POSTGRES_PASSWORD=zeus
POSTGRES_HOST=zeus-db
POSTGRES_PORT=5432
ASPNETCORE_ENVIRONMENT=Production
