<div class="min-h-screen bg-white overflow-hidden">
  <section class="flex flex-col items-center text-center px-8 py-16 lg:py-24">
    <h1 class="tr-title-1 leading-tight mb-4 z-10">
      <span class="text-primary">Triggo APK</span> is Downloading
    </h1>
    <p class="tr-subtitle mb-8 relative z-10">
      The download of the Triggo app in APK format has started. You can now
      install it on your Android device. <br />
      If you encounter any issues, please refer to the documentation or FAQ for
      assistance.
    </p>

    <div class="flex flex-col space-y-4 mb-16 w-full max-w-lg relative z-10">
      <div class="bg-green-100 text-green-700 p-4 rounded-md">
        <p><strong>Download in progress...</strong></p>
        <p>
          Your Triggo APK is being downloaded. Please wait while the download
          completes.
        </p>
      </div>
    </div>

    <img
      ngSrc="images/mobile_app.png"
      alt="Phone Mockup"
      class="w-[85%] sm:w-[70%] md:w-[65%] lg:w-[60%] xl:w-[50%] 2xl:w-[45%] absolute bottom-0"
      width="600"
      height="800"
      priority />
  </section>
</div>
