<div class="flex">
  <button
    trBtn
    aria-label="previous"
    variant="outline"
    size="sm"
    class="mr-2.5 justify-center disabled:bg-secondary disabled:border-none"
    (click)="previousPage()"
    [disabled]="selectedPage() === 1">
    <ng-icon name="heroArrowLeft" strokeWidth="0.15rem" size="1rem" />
  </button>
  <div class="flex border rounded-md pagination-container">
    @if (pages.length <= 4) {
      @for (page of pages; track page; let first = $first; let last = $last) {
        <button
          trBtn
          [variant]="selectedPage() === page ? 'default' : 'outline'"
          (click)="selectPage(page)"
          class="rounded-none
                 {{ first ? 'rounded-l-md' : '' }}
                 {{ last ? 'rounded-r-md' : '' }}">
          {{ page }}
        </button>
      }
    } @else {
      <button
        trBtn
        [variant]="selectedPage() === 1 ? 'default' : 'outline'"
        (click)="selectPage(1)"
        class="rounded-none rounded-l-md">
        1
      </button>

      @if (selectedPage() <= 3) {
        @for (page of [2, 3]; track page) {
          <button
            trBtn
            [variant]="selectedPage() === page ? 'default' : 'outline'"
            (click)="selectPage(page)"
            class="rounded-none">
            {{ page }}
          </button>
        }
        <button trBtn variant="outline" size="sm" class="rounded-none">
          ...
        </button>

        <button
          trBtn
          [variant]="selectedPage() === pages.length ? 'default' : 'outline'"
          (click)="selectPage(pages.length)"
          class="rounded-none rounded-r-md">
          {{ pages.length }}
        </button>
      } @else if (selectedPage() >= pages.length - 2) {
        <button trBtn variant="outline" size="sm" class="rounded-none">
          ...
        </button>

        @for (
          page of [pages.length - 2, pages.length - 1, pages.length];
          track page
        ) {
          <button
            trBtn
            [variant]="selectedPage() === page ? 'default' : 'outline'"
            size="sm"
            (click)="selectPage(page)"
            class="rounded-none
                   {{ page === pages.length ? 'rounded-r-md' : '' }}">
            {{ page }}
          </button>
        }
      } @else {
        <button trBtn variant="outline" class="rounded-none">...</button>

        <button trBtn size="sm" class="rounded-none">
          {{ selectedPage() }}
        </button>

        <button trBtn variant="outline" size="sm" class="rounded-none">
          ...
        </button>

        <button
          trBtn
          [variant]="selectedPage() === pages.length ? 'default' : 'outline'"
          (click)="selectPage(pages.length)"
          class="rounded-none rounded-r-md">
          {{ pages.length }}
        </button>
      }
    }
  </div>
  <button
    trBtn
    aria-label="next"
    variant="outline"
    size="sm"
    class="ml-2.5 disabled:bg-secondary disabled:border-none"
    (click)="nextPage()"
    [disabled]="selectedPage() === totalPages()">
    <ng-icon name="heroArrowRight" strokeWidth="0.15rem" size="1rem" />
  </button>
</div>
