$title: 281 35% 22%;
$subtitle: 283 13% 36%;
$primary: 269 84% 58%;
$white: 0 0% 100%;

$container-primary: 269 84% 58%;
$container-secondary: 0 0% 96%;
$container-light: 270 82% 96%;
$container-danger: 0 68% 56%;

@function apply_color($color-var, $opacity: 1) {
  @return hsl(var(--#{$color-var}) / #{$opacity});
}
