@font-face {
  font-family: 'Mada';
  src: url('../../public/fonts/mada.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Onest';
  src: url('../../public/fonts/onest.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: '';
}
