@mixin typography(
  $family: Onest,
  $weight: 400,
  $size: 1rem,
  $letter-spacing: normal,
  $line-height: normal
) {
  font-family:
    #{$family},
    sans-serif;
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
}

.tr-title-1 {
  @include typography(
    $family: Mada,
    $weight: 800,
    $size: 2.7rem,
    $letter-spacing: -0.02rem
  );
}

.tr-title-2 {
  @include typography(
    $family: Mada,
    $weight: bold,
    $size: 2rem,
    $letter-spacing: -0.015rem
  );
}

.tr-title-3 {
  @include typography(
    $family: Mada,
    $weight: 800,
    $size: 1.5rem,
    $letter-spacing: -0.03rem
  );
}

.tr-container-title {
  @include typography($weight: 500, $size: 1rem, $letter-spacing: -0.03rem);
}

.tr-subtitle {
  @include typography($weight: 400, $size: 1.75rem);
}

.tr-large {
  @include typography($weight: 600, $size: 1rem, $letter-spacing: -0.03rem);
}

.tr-medium {
  @include typography($weight: 400, $size: 0.7rem, $letter-spacing: -0.02rem);
}

.tr-small {
  @include typography(
    $weight: 400,
    $size: 0.125rem,
    $letter-spacing: -0.013rem
  );
}
