<div class="flex flex-row items-center gap-6 h-full w-full">
  <div class="min-h-full flex flex-col space-y-3 w-full">
    <div class="flex flex-row items-center gap-3">
      <div
        class="p-3 rounded-md flex items-center justify-center"
        [ngStyle]="{ 'background-color': automation().color }">
        <ng-icon [name]="automation().iconName" size="2rem" color="white" />
      </div>
      <div class="flex flex-col">
        <h3 class="tr-title-2">{{ automation().label }}</h3>
        <span class="text-muted">{{ automation().description }}</span>
      </div>
      <tr-general-edit-dialog class="ml-auto" />
      <button trBtn class="w-32" [disabled]="!canSave()">Save</button>
    </div>
    <div class="flex-grow bg-secondary rounded-md overflow-auto p-4">
      <div class="flex flex-col w-full items-center">
        <tr-select-trigger-sheet class="w-full" />
        @if (automation().trigger) {
          <div
            class="border-r-4 border-secondary-foreground h-[1.6rem] w-[0rem] border-dashed box-content"></div>
          @if (automation().actions.length === 0) {
            <tr-select-action-sheet
              class="w-full"
              [actionIndex]="0"
              sheetTrigger="add-button" />
          }
        }
        @for (action of automation().actions; track action.identifier) {
          <tr-select-action-sheet
            class="w-full"
            [actionIndex]="$index"
            sheetTrigger="action-card" />

          <div
            class="border-r-4 border-secondary-foreground h-[1.6rem] w-[0rem] border-dashed box-content"></div>
          @if ($last) {
            <tr-select-action-sheet
              class="w-full"
              [actionIndex]="$index + 1"
              sheetTrigger="add-button" />
          }
        }
      </div>
    </div>
  </div>
</div>
