<div class="flex min-h-screen flex-col bg-secondary">
  <div class="flex flex-1 items-center justify-center">
    <div
      class="w-full max-w-md bg-white p-8 rounded-[10px] shadow-md flex flex-col items-center">
      <img
        ngSrc="icons/triggo_logo.svg"
        alt="Triggo Box Logo"
        width="160"
        height="120"
        class="mb-3"
        priority />
      <h2 class="tr-title-3 text-center mb-3">Welcome back!</h2>
      <tr-login-form class="w-full"/>
      <div class="mt-4 text-center">
        <p class="text-sm text-gray-600">
          Don't have an account?
          <a routerLink="/register" class="text-primary hover:underline"
            >Register</a
          >
        </p>
      </div>

      <tr-oauth-section class="w-full" />
    </div>
  </div>
  <tr-auth-footer />
</div>
