@if (!trigger()) {
  <div
    class="p-3 rounded-md flex items-center justify-center bg-accent border-dashed border-2 border-black hover:cursor-pointer hover:bg-accent/50">
    <span class="tr-container-title">Add a Trigger Event</span>
  </div>
} @else {
  <div
    class="p-3 rounded-md bg-white hover:bg-gray-100 transition-colors hover:cursor-pointer flex flex-row gap-2 items-center"
    [ngStyle]="{
      border: color() ? '3px solid ' + color() : 'none',
    }">
    @if (icon()) {
      <div
        [style.background-color]="color()"
        class="p-2 flex items-center justify-center rounded-md">
        <ng-icon [name]="icon()!" size="1.5rem" class="text-white" />
      </div>
    }
    <span class="tr-container-title">{{ name() }}</span>
  </div>
}
