<tr-dialog>
  <button brnDialogTrigger trBtn>Add Integration</button>
  <tr-dialog-content
    class="min-w-[800px] min-h-[600px]"
    *brnDialogContent="let ctx">
    @if (selectedIntegration() === null) {
      <tr-dialog-header>
        <h3 trDialogTitle>Add Integration</h3>
        <p trDialogDescription>
          Select the integration you want to add to your account.
        </p>
      </tr-dialog-header>
      <input trInput placeholder="Search an integration" class="w-[32%]" />
      <div class="grid grid-cols-3 gap-4">
        @for (
          availableIntegration of availableIntegrations();
          track availableIntegration.name
        ) {
          <tr-integration-available-card
            [iconUri]="availableIntegration.iconUri"
            [name]="availableIntegration.name"
            [color]="availableIntegration.color"
            class="w-full"
            (click)="selectIntegration(availableIntegration)" />
        }
      </div>
    } @else {
      <div class="p-6">
        <div
          class="flex flex-row justify-between items-center border-b pb-4 mb-6">
          <div class="flex items-center space-x-4">
            <div
              class="w-14 h-14 rounded-md flex flex-col items-center justify-center"
              [ngStyle]="{ 'background-color': selectedIntegration()?.color }">
              <img
                [ngSrc]="selectedIntegration()?.iconUri || ''"
                alt="Integration Logo"
                [width]="35"
                [height]="35" />
            </div>
            <h1 class="tr-title-3">
              {{ selectedIntegration()?.name }} Integration
            </h1>
          </div>
          <button
            trBtn
            variant="secondary"
            (click)="backToAvailableIntegrations()"
            size="lg"
            class="hover:bg-gray-100 transition-colors">
            Back
          </button>
        </div>

        <div class="space-y-6">
          <section>
            <h2 class="tr-large mb-3">Triggers</h2>
            <ul class="space-y-2 text-muted">
              @for (trigger of selectedIntegration()?.triggers; track trigger) {
                <li class="flex items-center">
                  <ng-icon
                    name="heroCheck"
                    strokeWidth="0.2rem"
                    class="text-primary mr-1"
                    size="1.25rem" />
                  <span>{{ trigger }}</span>
                </li>
              }
            </ul>
          </section>
          <section>
            <h2 class="tr-large mb-3">Actions</h2>
            <ul class="space-y-2 text-muted">
              @for (action of selectedIntegration()?.actions; track action) {
                <li class="flex items-center">
                  <ng-icon
                    name="heroCheck"
                    strokeWidth="0.2rem"
                    class="text-primary mr-1"
                    size="1.25rem" />
                  <span>{{ action }}</span>
                </li>
              }
            </ul>
          </section>
        </div>

        <div class="mt-6 pt-4">
          @if (linkFn() !== null) {
            <button trBtn class="w-full" (click)="linkIntegration()">
              Link Integration
            </button>
          }
        </div>
      </div>
    }
  </tr-dialog-content>
</tr-dialog>
