<tr-dialog>
  <button brnDialogTrigger trBtn>Add Integration</button>
  <tr-dialog-content class="sm:max-w-[725px]" *brnDialogContent="let ctx">
    <tr-dialog-header>
      <h3 trDialogTitle>Add Integration</h3>
      <p trDialogDescription>
        Select the integration you want to add to your account.
      </p>
    </tr-dialog-header>
    @for (
      availableIntegration of availableIntegrations;
      track availableIntegration.name
    ) {
      <tr-integration-available-card [props]="availableIntegration" />
    }
  </tr-dialog-content>
</tr-dialog>
