<div
  class="w-full p-6 flex flex-col items-center space-y-4 bg-secondary rounded-md">
  <div class="w-full max-w-md space-y-4">
    <div>
      <label for="apiKey" class="block font-medium mb-1">API Key</label>
      <input trInput id="apiKey" type="text" class="w-full bg-white" />
    </div>

    <div>
      <label for="adminApiKey" class="block font-medium mb-1"
        >Admin API Key</label
      >
      <input trInput id="adminApiKey" type="text" class="w-full bg-white" />
    </div>

    <button trBtn class="w-full">Link Account</button>
  </div>
</div>
