<div class="bg-white flex items-center justify-center border rounded-md p-4">
  <div class="p-6 w-full">
    <form
      class="space-y-6"
      (ngSubmit)="link()"
      [formGroup]="openaiForm">
      <div>
        <label trLabel for="apiKey">API Key</label>
        <input
          trInput
          id="apiKey"
          type="text"
          class="w-full px-4 py-2"
          [formControl]="openaiForm.controls.apiToken" />
      </div>

      <div>
        <label trLabel for="adminApiKey">Admin API Key</label>
        <input
          trInput
          id="adminApiKey"
          type="text"
          class="w-full px-4 py-2"
          [formControl]="openaiForm.controls.adminApiToken" />
      </div>

      <button trBtn class="w-full" type="submit" [disabled]="loading()">
        @if (loading()) {
          <tr-spinner size="sm" />
        } @else {
          Link
        }
      </button>
    </form>
  </div>
</div>
