<div
  class="w-full p-6 flex flex-col items-center space-y-4 bg-secondary rounded-md">
  <form
    class="w-full max-w-md space-y-4"
    (ngSubmit)="link()"
    [formGroup]="openaiForm">
    <div>
      <label trLabel for="apiKey" class="block font-medium mb-1">API Key</label>
      <input
        trInput
        id="apiKey"
        type="text"
        class="w-full bg-white"
        [formControl]="openaiForm.controls.apiToken" />
    </div>

    <div>
      <label trLabel for="adminApiKey" class="block font-medium mb-1"
        >Admin API Key</label
      >
      <input
        trInput
        id="adminApiKey"
        type="text"
        class="w-full bg-white"
        [formControl]="openaiForm.controls.adminApiToken" />
    </div>

    <button trBtn class="w-full" type="submit" [disabled]="loading()">
      @if (loading()) {
        <tr-spinner size="sm" />
      } @else {
        Link
      }
    </button>
  </form>
</div>
