<div class="space-y-4">
  <div class="flex items-center gap-2">
    <h3 class="tr-large">Parameters</h3>
    <span
      class="px-2 py-0.5 text-xs font-medium rounded-full bg-primary text-white">
      {{ parameters().length }}
    </span>
  </div>

  <div class="flex flex-col rounded-lg border bg-secondary">
    @if (parameters().length > 0) {
      <div class="grid grid-cols-2 py-3 px-2 border-b border-secondary">
        <span class="text-sm font-semibold text-muted">Parameter</span>
        <span class="text-sm font-semibold text-muted">Value</span>
      </div>

      @for (param of parameters(); track param.identifier) {
        <div
          class="grid grid-cols-2 py-3 px-2 border-b bg-white items-center relative group cursor-pointer">
          <div
            class="absolute inset-0 bg-secondary/30 opacity-0 group-hover:opacity-100 flex items-center justify-center transition-all gap-1">
            <span class="tr-large text-primary">Edit</span>
            <ng-icon name="heroPencil" size="0.9rem" class="text-primary"/>
          </div>
          <span
            class="tr-medium text-gray-700 group-hover:opacity-0 transition-all"
            >{{ param.identifier | pascalToPhrase }}</span
          >
          <span
            class="tr-medium text-gray-900 group-hover:opacity-0 transition-all"
            >{{ param.value || 'Undefined' }}</span
          >
        </div>
      }
    } @else {
      <div class="flex items-center justify-center p-6 bg-secondary">
        <span class="flex items-center gap-2">
          <ng-icon name="heroPlusCircle" size="1.3rem" class="text-muted" />
          <span class="text-sm font-medium text-muted"
            >No Parameters Available</span
          >
        </span>
      </div>
    }
  </div>
</div>
