<form class="space-y-6 w-full" (ngSubmit)="onLogin()" [formGroup]="loginForm">
  <div>
    <label for="email" trLabel>
      Email
      <input
        id="email"
        type="email"
        trInput
        class="w-full"
        placeholder="example@email.com"
        [formControl]="loginForm.controls.email" />
    </label>
  </div>

  <div>
    <tr-form-password
      label="Password"
      id="password"
      [formControl]="loginForm.controls.password"
      errorMessage="" />
  </div>

  <button type="submit" trBtn class="w-full" [disabled]="loginLoading()">
    @if (loginLoading()) {
      <tr-spinner size="sm" />
    } @else {
      Log In
    }
  </button>
</form>
