<tr-sheet side="right">
  <button brnSheetTrigger class="w-full">
    <tr-trigger-card [trigger]="trigger()" />
  </button>
  <tr-sheet-content *brnSheetContent="let ctx" class="flex flex-col h-full">
    <tr-sheet-header>
      <h3 trSheetTitle>Edit Trigger</h3>
      <span trSheetDescription>Edit the trigger for this automation</span>
    </tr-sheet-header>
    <div class="h-full flex flex-col gap-4">
      @switch (service.state().selectionStep) {
        @case (TriggerSelectionStep.MAIN) {
          <div>
            <span class="tr-large">Select Integration</span>
            @if (!service.state().selectedIntegration) {
              <button
                trBtn
                class="w-full text-left items-center justify-start gap-3 p-8"
                variant="outline"
                (click)="service.goToIntegrationSelection()">
                <ng-icon name="heroBolt" size="1.4rem" />
                <span>
                  No Integration Selected
                </span>
              </button>
            } @else {
              <tr-available-integration-list-card
                class="w-full"
                [integration]="service.state().selectedIntegration!"
                (click)="service.goToIntegrationSelection()" />
            }
          </div>
          <div>
            <span class="tr-large">Select Linked Integration</span>
            @if (!service.state().selectedLinkedIntegration) {
              <button
                trBtn
                class="w-full text-left items-center justify-start gap-3 p-8"
                variant="outline"
                [disabled]="service.state().selectedIntegration === null"
                (click)="service.goToLinkedInegrationSelection()">
                <ng-icon name="heroUser" size="1.4rem" />
                <span>
                  No Linked Integration Selected
                </span>
              </button>
            } @else {
              <tr-linked-integration-button
                [integration]="service.state().selectedLinkedIntegration!"
                (click)="service.goToLinkedInegrationSelection()" />
            }
          </div>
        }
        @case (TriggerSelectionStep.INTEGRATION) {
          <tr-integration-selection
            class="h-full"
            (selectedIntegration)="service.selectIntegration($event)" />
        }
        @case (TriggerSelectionStep.LINKED_INTEGRATION) {
          <tr-linked-integration-selection
            class="h-full"
            [selectedIntegrationIdentifier]="
              service.state().selectedIntegration!.identifier
            "
            (selectedLinkedIntegration)="
              service.selectLinkedIntegration($event)
            " />
        }
      }
    </div>
    <div class="mt-auto flex flex-row justify-end">
      @if (service.state().selectionStep === TriggerSelectionStep.MAIN) {
        <button trBtn type="submit" class="w-[50%]">Save</button>
      } @else {
        <button
          trBtn
          class="w-[50%]"
          variant="outline"
          (click)="service.back()">
          Back
        </button>
      }
    </div>
  </tr-sheet-content>
</tr-sheet>
