<tr-sheet side="right">
  <button brnSheetTrigger class="w-full">
    <tr-trigger-card [trigger]="trigger()" />
  </button>
  <tr-sheet-content *brnSheetContent="let ctx" class="flex flex-col h-full">
    <tr-sheet-header>
      <h3 trSheetTitle>{{ title() }}</h3>
      <span trSheetDescription>{{ description() }}</span>
    </tr-sheet-header>
    <div class="h-full flex flex-col gap-4">
      @switch (state().selectionStep) {
        @case (TriggerSelectionStep.MAIN) {
          @if (!state().selectedIntegration) {
            <button
              trBtn
              class="w-full text-left items-center justify-start gap-3 p-8"
              variant="outline"
              (click)="service.goToIntegrationSelection()">
              <ng-icon name="heroBolt" size="1.4rem" />
              <span> No Integration Selected </span>
            </button>
          } @else {
            <tr-available-integration-list-card
              class="w-full"
              [integration]="service.state().selectedIntegration!"
              (click)="service.goToIntegrationSelection()" />
          }
          @if (!state().selectedTrigger) {
            <button
              trBtn
              class="w-full text-left items-center justify-start gap-3 p-8"
              variant="outline"
              [disabled]="state().selectedIntegration === null"
              (click)="service.goToTriggerSelection()">
              <ng-icon name="heroRocketLaunch" size="1.4rem" />
              <span> No Trigger Selected </span>
            </button>
          } @else {
            <tr-trigger-selection-button
              [trigger]="state().selectedTrigger!"
              (click)="service.goToTriggerSelection()" />
          }
          @if (!state().selectedLinkedIntegration) {
            <button
              trBtn
              class="w-full text-left items-center justify-start gap-3 p-8"
              variant="outline"
              [disabled]="state().selectedTrigger === null"
              (click)="service.goToLinkedInegrationSelection()">
              <ng-icon name="heroUser" size="1.4rem" />
              <span> No Linked Integration Selected </span>
            </button>
          } @else {
            <tr-linked-integration-button
              [displayIcon]="true"
              [integration]="state().selectedLinkedIntegration!"
              (click)="service.goToLinkedInegrationSelection()" />
          }
        }
        @case (TriggerSelectionStep.INTEGRATION) {
          <tr-integration-selection
            class="h-full"
            (integrationSelected)="onIntegrationSelected($event)" />
        }
        @case (TriggerSelectionStep.LINKED_INTEGRATION) {
          <tr-linked-integration-selection
            class="h-full"
            [selectedIntegrationIdentifier]="
              service.state().selectedIntegration!.identifier
            "
            (linkedIntegrationSelected)="onLinkedIntegrationSelected($event)" />
        }
        @case (TriggerSelectionStep.TRIGGER) {
          <tr-trigger-selection
            class="h-full"
            [integration]="service.state().selectedIntegration!"
            (triggerSelected)="onTriggerSelected($event)" />
        }
      }
    </div>
    <div class="mt-auto flex flex-row justify-end">
      @if (state().selectionStep === TriggerSelectionStep.MAIN) {
        <button trBtn type="submit" class="w-[50%]">Save</button>
      } @else {
        <button trBtn class="w-[50%]" variant="outline" (click)="onBack()">
          Back
        </button>
      }
    </div>
  </tr-sheet-content>
</tr-sheet>
