<tr-dialog>
  <button brnDialogTrigger trBtn>Add Integration</button>
  <tr-dialog-content class="sm:max-w-[725px]" *brnDialogContent="let ctx">
    <tr-dialog-header>
      <h3 trDialogTitle>Add Integration</h3>
      <p trDialogDescription>
        Select the integration you want to add to your account.
      </p>
    </tr-dialog-header>
    <div class="py-4 grid gap-4">
      <div class="items-center grid grid-cols-4 gap-4">
        <label trLabel for="name" class="text-right">Name</label>
        <input trInput id="name" value="Pedro Duarte" class="col-span-3" />
      </div>
      <div class="items-center grid grid-cols-4 gap-4">
        <label trLabel for="username" class="text-right">Username</label>
        <input trInput id="username" value="@peduarte" class="col-span-3" />
      </div>
    </div>
  </tr-dialog-content>
</tr-dialog>
