<div class="flex flex-row items-center">
  <div class="relative">
    @if (props()?.avatarUri) {
      <img
        [ngSrc]="props()!.avatarUri"
        alt="Gmail User Avatar"
        [width]="47"
        [height]="47"
        class="rounded-full" />
    }
    <div
      class="h-5 w-5 rounded-full absolute -bottom-1 left-7 flex flex-col items-center justify-center bg-white p-[0.5px]">
      <img
        [ngSrc]="iconUri() || ''"
        alt="Gmail Logo"
        [width]="10"
        [height]="10" />
    </div>
  </div>
  <div class="flex flex-col ml-4 mr-auto">
    <h1 class="tr-large">
      {{ props()?.displayName }} - {{ props()?.familyName }}
    </h1>
    <span class="text-gray-500 text-sm">{{ props()?.email }}</span>
  </div>
</div>
