<div class="flex flex-row p-3 h-[100vh]">
  <div class="flex flex-col space-y-2.5 max-h-screen overflow-y-auto">
    <img
      ngSrc="icons/triggo_box_logo.svg"
      alt="Triggo Box Logo"
      width="200"
      height="160"
      priority />
    <tr-side-menu-button label="Home" icon="heroHome" />
    <tr-side-menu-button label="Integrations" icon="heroLink" />
    <tr-side-menu-button label="Automations" icon="heroBolt" />
    <div class="flex-grow bg-secondary rounded-md"></div>
    <tr-side-menu-profile />
  </div>
  <div class="mx-3">
    <router-outlet></router-outlet>
  </div>
</div>
