<div class="flex flex-row p-3 h-[100vh]">
  <div class="flex flex-col space-y-3 max-h-screen overflow-y-auto">
    <img
      ngSrc="icons/triggo_box_logo.svg"
      alt="Triggo Box Logo"
      width="210"
      height="170"
      priority />
    <tr-side-menu-button label="Home" icon="heroHome" path="home" />
    <tr-side-menu-button
      label="Integrations"
      icon="heroLink"
      path="integrations" />
    <tr-side-menu-button
      label="Automations"
      icon="heroBolt"
      path="automations" />
    <div class="flex-grow bg-secondary rounded-md"></div>
    <tr-side-menu-profile />
  </div>
  <div class="pt-9 pb-14 pl-6 w-full">
    <router-outlet></router-outlet>
  </div>
</div>
