<tr-sheet side="right">
  <button brnSheetTrigger class="w-full">
    @if (sheetTrigger() === 'action-card') {
      <tr-action-card [action]="action()" />
    } @else {
      <tr-add-step-button />
    }
  </button>
  <tr-sheet-content *brnSheetContent="let ctx" class="flex flex-col h-full">
    <tr-sheet-header>
      <h3 trSheetTitle>{{ service.title() }}</h3>
      <span trSheetDescription>{{ service.description() }}</span>
    </tr-sheet-header>
    <div class="h-full flex flex-col gap-4">
      @switch (service.baseState().selectionStep) {
        @case (AutomationSelectionStepType.MAIN) {
          @if (!service.baseState().selectedIntegration) {
            <button
              trBtn
              class="w-full text-left items-center justify-start gap-3 p-8"
              variant="outline"
              (click)="service.goToIntegrationSelection()">
              <ng-icon name="heroBolt" size="1.4rem" />
              <span> No Integration Selected </span>
            </button>
          } @else {
            <tr-available-integration-list-card
              class="w-full"
              [integration]="service.baseState().selectedIntegration!"
              (click)="service.goToIntegrationSelection()" />
          }
          @if (!service.state().selectedAction) {
            <button
              trBtn
              class="w-full text-left items-center justify-start gap-3 p-8"
              variant="outline"
              [disabled]="service.baseState().selectedIntegration === null"
              (click)="service.goToStepSelection()">
              <ng-icon name="heroRocketLaunch" size="1.4rem" />
              <span> No Action Selected </span>
            </button>
          } @else {
            <tr-trigger-selection-button
              [color]="service.baseState().selectedIntegration!.color"
              [automationEvent]="service.state().selectedAction!"
              (click)="service.goToStepSelection()" />
          }
          @if (!service.baseState().selectedLinkedIntegration) {
            <button
              trBtn
              class="w-full text-left items-center justify-start gap-3 p-8"
              variant="outline"
              [disabled]="service.state().selectedAction === null"
              (click)="service.goToLinkedInegrationSelection()">
              <ng-icon name="heroUser" size="1.4rem" />
              <span> No Linked Integration Selected </span>
            </button>
          } @else {
            <tr-linked-integration-button
              [displayIcon]="true"
              [integration]="service.baseState().selectedLinkedIntegration!"
              (click)="service.goToLinkedInegrationSelection()" />
          }
          @if (
            service.state().selectedAction &&
            service.baseState().selectedLinkedIntegration
          ) {
            <tr-automation-parameter-list
              class="mt-4"
              [parameters]="service.state().action!.parameters"
              (editParameter)="onParameterEdit($event)" />
          } @else {
            <span class="text-muted tr-medium">
              Select a Action and Linked Integration to view parameters
            </span>
          }
        }
        @case (AutomationSelectionStepType.INTEGRATION) {
          <tr-integration-selection
            class="h-full"
            (integrationSelected)="onIntegrationSelected($event)" />
        }
        @case (AutomationSelectionStepType.LINKED_INTEGRATION) {
          <tr-linked-integration-selection
            class="h-full"
            [selectedIntegrationIdentifier]="
              service.baseState().selectedIntegration!.identifier
            "
            (linkedIntegrationSelected)="onLinkedIntegrationSelected($event)" />
        }
        @case (AutomationSelectionStepType.STEP) {
          <tr-action-selection
            class="h-full"
            [integration]="service.baseState().selectedIntegration!"
            (actionSelected)="onActionSelected($event)" />
        }
        @case (AutomationSelectionStepType.PARAMETER) {
          <tr-automation-parameter-edit
            [displayPrevious]="true"
            [integrationId]="service.baseState().selectedLinkedIntegration!.id"
            [parameter]="service.baseState().selectedParameter!"
            [parameterDescription]="service.getSelectedParameterDescription()"
            [parameterType]="service.baseState().selecterParameterType!" />
        }
      }
    </div>
    <div class="mt-auto flex flex-row justify-end">
      @if (
        service.baseState().selectionStep === AutomationSelectionStepType.MAIN
      ) {
        <button
          trBtn
          type="submit"
          class="w-[50%] flex flex-row gap-2 items-center"
          [disabled]="service.saveDisabled()" (click)="service.save()">
          Save
          @if (service.valid() === false) {
            <ng-icon
              name="heroExclamationTriangle"
              size="1rem"
              strokeWidth="0.1rem" />
          }
        </button>
      } @else {
        <button trBtn class="w-[50%]" variant="outline" (click)="onBack()">
          Back
        </button>
      }
    </div>
  </tr-sheet-content>
</tr-sheet>
