<div class="flex min-h-screen flex-col bg-secondary">
  <div class="flex flex-1 items-center justify-center">
    <div class="w-full max-w-md bg-white p-8 rounded-[10px] shadow-md">
      <h2 class="tr-title-3 text-center mb-3">Create Your Account</h2>
      <tr-register-form />
      <div class="mt-4 text-center">
        <p class="text-sm text-gray-600">
          Already have an account?
          <a
            routerLink="/login"
            class="text-primary underline hover:text-primary/90"
            >Login</a
          >
        </p>
      </div>
      <tr-oauth-section />
    </div>
  </div>
</div>
